 <div class="user-details">
  <h1> Our Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-apple-original colored"></i>
      <p>We create detailed wireframes that accurately model the final result.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-pycharm-plain colored"></i>
      <i class="devicon-webstorm-plain colored"></i>
      <p>We use IDEs like JetBrains' IDEA Ultimate to create stunning programs.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-original"></i>
      <i class="devicon-gitlab-plain colored"></i>
      <p>We use tools like GitHub to host our code repositories.</p>
    </div>
</div>