<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="arp-spoof-terminal" src="{{ "/assets/img/arp_spoof_terminal.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> ARP Spoofer </h3>
    <ul>
      <li> 🔍 An easy-to-use ARP Spoofer that sends falsified ARP messages over a local network. (Debian Linux)</li>
    </ul>

    <a class="project-link" href="https://github.com/NadulaG/arp-spoofer">Check it out on GitHub</a>
  </div>
</div>
</div>
